body {
    background: rgb(210, 250, 243);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

img {
    height: 500px;
    width: auto;
    margin-left: 250px;
}

div {
    margin-left: 360px;
    margin-top: 30px;
    border-top: 50px;
    border-width: 2px;
    border-style: hidden;
    width: 720px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4da2ac;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 650px;
    margin-top: 40px;
}

a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}