body {
    background: rgb(210, 250, 243);

}

p {
    color: #000000;
    text-align: center
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.name {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

.email {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bolder;
    text-align: center
}

a {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4da2ac;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}